<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{%if page.Title %}{{page.Title}} - {% endif%}{{ site.Title }}</title>
        <link rel="icon" href="{{base}}/favicon.png" type="image/png">
        {% for meta in site.MetaTags %}
        <meta name="{{meta.name}}" content="{{meta.content}}" />
        {% endfor %}
        {% for meta in page.MetaData.metaTags %}
        <meta name="{{meta.name}}" content="{{meta.content}}" />
        {% endfor %}

        <base href="{{base}}{{page.Route}}{%if page.Route != '/'%}/{%endif%}" />

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="{{base}}/theme/static/css/main.css" />
    </head>
    <body>
        <div id="content" class={{page.Metadata.mainClass}}>
            {% block content %}{% endblock %}
        </div>

        <footer>
            powered by <a href="https://pcms.alexi.ch/"><i class="fas fa-heart" style="color:red"></i> pcms</a>
        </footer>
    </body>
</html>
