---
title: "home"
shortTitle: "home"
iconCls: "fas fa-home"
mainClass: "home"
metaTags:
  - name: "keywords"
    content: "pcms,cms"
  - name: "description"
    content: "Example description your page"
---
{% extends "base.html" %}

{% block content %}

<h1>Welcome!</h1>

<p>This is your new, pcms driven site. Enjoy!</p>

<ul>
    <li><a href="{{Webroot("/")}}"><i class="fas fa-home"></i> {{Config.Variables.siteTitle}}</a></li>
    {% for item in PageQuery().WhereParentRoute(Page.Route).FetchAll() %}
    <li class="{% if Paths.AbsWebDir == item.Route %}active{% endif %}">
        <a href="{{Webroot(item.Route)}}/">
            <i class="{{item.Metadata.iconCls}}"></i>
            {{item.Title}}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}