{% extends "base.html" %}

{% block content %}

<h1>Welcome!</h1>

<p>This is your new, pcms driven site. Enjoy!</p>

<ul>
    <li><a href="{{base}}/"><i class="fas fa-home"></i> {{rootPage.pageConfig.title}}</a></li>
    {% for item in rootPage.childPages %}
    {% if item.pageConfig.enabled === true %}
    <li class="{% if route.indexOf(item.route) > -1  %}active{% endif %}">
        <a href="{{base}}{{item.route}}">
            <i class="{{item.pageConfig.iconCls}}"></i>
            {{item.pageConfig.title}}
        </a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}
