---
title: "home"
shortTitle: "home"
iconCls: "fas fa-home"
mainClass: "home"
metaTags:
  - name: "keywords"
    content: "pcms,cms"
  - name: "description"
    content: "Example description your page"
children:
  - title: HTML Test Page
    enabled: true
    route: html-page
    iconCls: fab fa-html5
  - title: Markdown Test Page
    enabled: true
    route: markdown-page
    iconCls: fab fa-markdown
---
{% extends "base.html" %}

{% block content %}

<h1>Welcome!</h1>

<p>This is your new, pcms driven site. Enjoy!</p>

<ul>
    <li><a href="{{webroot("/")}}"><i class="fas fa-home"></i> {{variables.siteTitle}}</a></li>
    {% for item in variables.children %}
    {% if item.enabled == true %}
    <li class="{% if destRelDir == item.route %}active{% endif %}">
        <a href="{{webroot(item.route)}}/">
            <i class="{{item.iconCls}}"></i>
            {{item.title}}
        </a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}