<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{%if variables.title %}{{variables.title}} - {% endif%}{{ variables.siteTitle }}</title>
        <link rel="icon" href="{{base}}/favicon.png" type="image/png">
        {% for meta in variables.siteMetaTags %}
        <meta name="{{meta.name}}" content="{{meta.content}}" />
        {% endfor %}
        {% for meta in variables.metaTags %}
        <meta name="{{meta.name}}" content="{{meta.content}}" />
        {% endfor %}

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="{{base}}/static/css/main.css" />
    </head>
    <body>
        <div id="content" class={{variables.mainClass}}>
            {% block content %}{% endblock %}
        </div>

        <footer>
            powered by <a href="https://pcms.alexi.ch/"><i class="fas fa-heart" style="color:red"></i> pcms</a>
        </footer>
    </body>
</html>
