{% extends "base.html" %}

{% block content %}
<h1>HTML Page Demo</h1>

<p><a href="{{Webroot("/")}}"><i class="fas fa-home"></i> Back to home</a></p>

<p>Your actual Route: {{Paths.AbsWebPath}}</page>

<p>Access to pongo2 syntax, e.g. actual time: {% now "02.01.2006 15:04:05" %}</p>

<pre>
Page variables:
{{Config.Variables | stringformat:"%#v"}}
Page paths:
{{Paths | stringformat:"%#v"}}
</pre>

Some static content:

<p>Relative addressed image: <br>
	<pre>./sunset.webp</pre><br>
	<img src="./sunset.webp" class="img-fluid" /></p>
<p>Relative addressed from webroot:<br>
	<pre>{{Paths.RelWebPathToRoot}}/{{Paths.RelWebDir}}/sunset.webp</pre><br>
	<img src="{{Paths.RelWebPathToRoot}}/{{Paths.RelWebDir}}/sunset.webp" class="img-fluid" /></p>
<p>Absolute addressed image:<br>
	<pre>{{Paths.AbsWebDir}}/sunset2.webp</pre><br>
	<img src="{{Paths.AbsWebDir}}/sunset2.webp" class="img-fluid" /></p>

{% endblock %}
