{% extends "base.html" %}

{% block content %}
<h1>HTML Page Demo</h1>

<p><a href="{{base}}/"><i class="fas fa-home"></i> Back to home</a></p>

<p>Your actual Route: {{base}}{{page.Route}}</page>

<p>This is a restricted site and can only be viewed with the proper login credentials.</p>

<p>You can configure required users in the <code>page.json</code> config:</p>

<pre><code class="json">
{
    "title": "Restricted page",
    "shortTitle": "Restricted",
    "index": "index.html",
    "requiredUsers": ["alex", "otherUser"]
    // or, just define the special user for any valid user:
    "requiredUsers": ["valid-user"]
}
</code></pre>

{% endblock %}
